body {
  background: url(./Background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

span.underline {
  color: black;
}

b {
  color: black;
}

div {
  color: black;
}

.black-text {
  color: black;
}

.btn.btn-outline-danger {
  position: absolute;
  right: 15px;
  top: -4px;
} 

.ol.list-group-item.d-list-item::marker {
  
}